.scFlexColumn{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.ccFlexColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.csFlexColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.bcFlexColumn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.bsFlexColumn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.ssFlexColumn{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.ccFlexRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.ceFlexRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}
.csFlexRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.ecFlexRow{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.bcFlexRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.scFlexRow{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}